.heading {
}
.heading .home-link {
    text-decoration: none;
    color: blue;
    font-size: 18px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: rgba(17, 187, 214, .1);
    border-radius: 8px;
    width: 80px;
    border: solid 1px blue;
}
.heading .refresh-link {
    text-decoration: none;
    color: blue;
    font-size: 14px;
    position: fixed;
    top: 20px;
    right: 130px;
    padding: 10px;
    background: rgba(17, 187, 214, .1);
    border-radius: 8px;
    border: solid 1px blue;
}

.table {
	border-collapse: collapse;
	width: 100%;
}
.table td, .table th {
	border: solid 1px #777;
	padding: 3px 5px;
	vertical-align: top;
}

.error {
	padding: 10px;
	background: rgba(242, 79, 79, 0.5)
}

.db-item {
	color: #777;
}
.db-item a {
	text-decoration: none;
	color: inherit;
}
.db-item a:hover {
	color: #333;
}
.db-item a.active {
	color: red;
}
.db-item [type=checkbox]:checked + a {
	text-decoration: line-through;
}

.toolbar {
    margin-bottom: 20px;
}

#textarea {
    width: 95%;
    min-height: 300px;
    overflow: auto;
}

.checked-info {
    color: red;
    font-size: smaller;
    font-weight: bold;
}
